ipch
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

Thumbs.db
*.psess
*.vspx
*.obj
*.exe
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr

*.suo
*.filters
*.user
*.pfx
*.sdf
*.opensdf

Package.StoreAssociation.xml

*RobotKit.dll
RobotKit.dll
