<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:wb="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="fa47bdec-b13e-4ea8-99d5-258f5a3efb72" Publisher="CN=Paul" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Sphero Control</DisplayName>
    <PublisherDisplayName>Paul</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SpheroControl.App">
      <m2:VisualElements DisplayName="Sphero Control" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Sphero Control" ForegroundText="light" BackgroundColor="#464646">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <wb:DeviceCapability Name="bluetooth.rfcomm">
      <wb:Device Id="any">
        <wb:Function Type="serviceId:00001101-0000-1000-8000-00805F9B34FB" />
      </wb:Device>
    </wb:DeviceCapability>
  </Capabilities>
</Package>